//
// Components Molecules Form Check Label
// —————————————————————————————————————
.form-check {

  &-input {
    margin-top: 0.3em;
  }

  // Form Check Label
  // —————————————————————————————————————
  &-label {
    &:hover {
      cursor: pointer;

      img {
        @include grayscale(0%);

        opacity: 1;
      }
    }

    img {
      @include grayscale(90%);

      @include transition(opacity 0.25s ease-in-out);

      border-radius: 50%;
      opacity: 0.1;
    }

    input[type=checkbox]:checked {
      + img {
        @include grayscale(0%);

        opacity: 1;
      }
    }
    input[type=radio] {
      + span {
        font-size: 0.9rem;
      }
    }

    // Badge
    // —————————————————————————————————————
    .badge {
      position: relative;
      font-size: 0.9em;
      font-weight: normal;
      border-radius: 0;

      // Badge Legend
      // —————————————————————————————————————
      &-legend {
        padding-left: 3em;
        small {
          display: inline-block;
          position: absolute;
          top: 0.3em;
          left: 0;
          @include grayscale(90%);
          @include transition(opacity 0.25s ease-in-out);
          opacity: 0.8;
        }
      }
    }

    // Date
    // —————————————————————————————————————
    .date {
      display: block;
      font-weight: 700;
      padding-top: 0.3em;
    }
  }
}
