//
// Components Organism Popover
// —————————————————————————————————————
.popover {
  font-size: 0.8rem;
  border-radius: 0;

  &-header,
  &-body {
    padding: 0.2rem 0.5rem;
  }

  // Popover Header
  // —————————————————————————————————————
  &-header {
    font-size: 1.2em;
  }
}
