//
// Components Organism Tab
// —————————————————————————————————————

.max-height-tab {
  height: calc(100% - 3.5em);
  /* Landscape tablets and medium desktops */
  @media (min-width: 992px) and (max-width: 1199px) {
    height: calc(100% - 2.5em);
  }
}

.tab-content {
  border-right: 1px solid #ddd;
}

.tab-pane {
  padding-left: 1.5em;
  padding-right: 1.5em;

  form {
    padding: 1rem 0;
    /* Landscape tablets and medium desktops */
    @media (min-width: 992px) and (max-width: 1199px) {
      font-size: 0.9em;
    }
  }
}
